.blog-markdown__container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.blog-markdown__container h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
}
.blog-markdown__container h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.blog-markdown__container p {
    margin-bottom: 0.5rem;
}
.blog-markdown__container img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
